* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  background: #ffffff;
  font-family: monospace;
}